.no-link-style {
    text-decoration: none;

    &:hover, &:active {
        text-decoration: none;
    }
}

.box-shade {
    height: 10px;
    border: 1px solid var(--chakra-colors-gray-500);

    &:not(:first-of-type) {
        border-top: none;
    }
}
.box-double {
    height: 20px;
}