.no-link-style {
    text-decoration: none;

    &:hover, &:active {
        text-decoration: none;
    }
}

.box-shade {
    height: max(10px, 1.5vh);
    border: 1px solid var(--chakra-colors-gray-500);

    &:not(:first-of-type) {
        border-top: none;
    }
}
.box-double {
    height: max(20px, 3vh);
}